.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: auto;
    white-space: normal;
    margin-top: auto;
    margin-bottom: auto;
    transition: transform .2s;
    margin-bottom: 5px;
    background: rgba(194,189,189, 0.2);
}
.box h5 {
    font-size: 0.8rem;
    letter-spacing: -0.02em;
    word-break: break-all;
}
.box img {
    max-width: 25px;
}
.jumbotron {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.jumbotron h2 {
    letter-spacing: -0.02em;
    font-size: 1.5rem;
}
.box:hover {
    cursor: pointer;
    background: #f2f2f2;
    transform: scale(1.1);
}
.list-group-item {
    white-space: normal;
    word-break: break-all;
}
.tokens {
    display: flex;
    flex-wrap: wrap;
}