body {
    background-color: rgba(242, 242, 242, 1.0) !important;
}
.token {
    color: #e2e2e2;
    font-weight: 700;
    letter-spacing: -0.02em;
    white-space: normal;
    transition: transform .2s;
    background: rgba(191,218,246, 0.3);
    border: 2.5px solid #bfdaf6 !important;
    cursor: pointer;
}
.coinWrap {
    color: #e2e2e2;
    font-weight: 700;
    letter-spacing: -0.02em;
    white-space: normal;
    transition: transform .2s;
    background: rgba(191,218,246, 0.3);
    border: 2.5px solid rgb(191,218,246) !important;
    cursor: default;
}
.token:hover, .coinWrap:hover {
    background: rgba(191,218,246, 0.6);
    transform: scale(1.01);
}
.list-group-item {
    background: rgba(191,218,246, 0.3);
}
.box h5 {
    font-size: 0.8rem;
    letter-spacing: -0.02em;
    word-break: break-all;
}
.box img {
    max-width: 25px;
}
.jumbotron {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.jumbotron h2 {
    letter-spacing: -0.02em;
    font-size: 1.7rem;
    color: rgba(242, 242, 242, 0.7) !important;
    cursor: default;

}
.box:hover {
    cursor: pointer;
    background-color: rgba(77, 166, 255, 0.4) !important;

    transform: scale(1.1);
}
.list-group-item {
    white-space: normal;
    word-break: break-all;
}

form {
    display: flex;
    flex-direction: column;
}
.navbar h5 {
    opacity: 0.4;
    letter-spacing: -0.02em;
    font-size: 1.5rem;
}
.jumbotron {
    background-color: rgba(77, 166, 255, 0.7) !important;
}
.jumbotron h3 {
    opacity: 0.7;
    font-weight: 400;
    font-size: 1.1rem;
}
.navbar {
    background-color: rgba(77, 166, 255, 0.7) !important;
}

.card-img-top {
    width: 90px;
    margin-top: 1.5em;
    border-bottom: 2.5px solid rgba(22, 107, 79, 0.6) !important;
}
.card {
    background-color: rgba(142,190,240, 1.0) !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card-text {
    font-weight: 300;
    opacity: 0.5;
}
.input-group-text {
    background-color: rgba(97,106,107, 0.8) !important;
}
.card-title {
    font-weight: 600;
    letter-spacing: -0.02em;
}
.card-body {
    color: #f2f2f2;
}
.alert h2 {
    font-size: 1.2rem;
}
.modal-header {
    background-color: rgba(242, 242, 242, 1.0) !important;
}
.modal-header h2 {
    font-size: 1.1rem;
}
.modal-body {
    font-size: 0.9rem !important;
    background-color: rgba(242, 242, 242, 0.8) !important;

}
.modal {
    background: rgba(242,242,242, 0.6);
}
.btn-success {
    background-color: rgba(88, 214, 141, 0.8) !important;
    font-weight: 800;
    opacity: 0.8;
}
.icon {
    max-width: 30px;
}
.icon-a {
    max-width:30px;
}
.conf {
    font-weight: 600;
}
.coin {
    font-weight: 500;
    color: rgba(229,157,30, 0.8);
    background: rgb(154,202,248);
    background: linear-gradient(90deg, rgba(154,202,248,1) 0%, rgba(154,202,248,1) 50%, rgba(139,182,227,1) 97%, rgba(154,202,248,1) 100%);
    
}
.name {
    background: rgb(154,202,248);
    background: linear-gradient(90deg, rgba(154,202,248,1) 0%, rgba(154,202,248,1) 50%, rgba(139,182,227,1) 97%, rgba(154,202,248,1) 100%);
}
.coinid {
    color: rgba(108,125,138, 0.6);
}
.index {
    color: rgba(209,226,245);
}
.tokenTitle {
    background-color: rgba(102, 153, 153, 0.6) !important;
    margin-bottom: 0;
}
.tokenCard {
    border-bottom: solid 2.5px rgb(210,227,245) !important;
    max-width: 60px;
}
.tokenName {
    color: rgb(210,227,245);
    letter-spacing: 0.01em;
}
.tokenContainer {
    background-color: rgba(0, 153, 153, 0.7) !important;
}

.input-group-text {
    background-color: rgba(242,242,242, 0.4) !important;
}
.input-group:hover {
    cursor: pointer;
    background: rgba(191,218,246, 0.6);
    transform: scale(1.01);
}
.form-control:hover {
    cursor:pointer;
}